@import url('spacing.css');

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ffffffaa;
    background-color: #191919;
  }
}

main {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
}

.site-header {
  margin-block-end: 2rem;
  padding-block-end: 1rem;
  border-block-end: 1px solid light-dark(#ccc, #ffffff44);
}

.site-footer {
  margin-block-start: 2rem;
  padding-block-start: 1rem;
  border-block-start: 1px solid light-dark(#ccc, #ffffff44);
}

.prose {
  p {
    margin-block: 0;
  }

  p + p {
    text-indent: 1.75em;
  }
}
