@import url('spacing.css');

:root {
  color-scheme: light dark;
}

html {
  background-image: url('../images/starfield01.png');
}

body {
  max-width: unset;
  background: transparent;
}

main {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
}

hr {
  margin-block: 1.5em;
}

.page {
  margin: 0 auto;
  padding: 1em 1.5em;
  max-width: 38em;
  background: light-dark(#f1f1f1, #191919ee);
}

@media (prefers-color-scheme: dark) {
  .page {
    color: #ffffffaa;
  }
}

.prose {
  p {
    margin-block: 0;
  }

  p + p {
    text-indent: 1.75em;
  }

  /* Reset styles specifically for content inside game-move */
  game-move p {
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
      Arial, 'Noto Sans', sans-serif;
    text-indent: 0;
  }

  game-move p + p {
    margin-block-start: 1em;
  }
}

.site-header {
  margin-block-end: 2rem;
  padding-block-end: 1rem;
  border-block-end: 1px solid light-dark(#ccc, #ffffff44);
}

.site-footer {
  margin-block-start: 2rem;
  padding-block-start: 1rem;
  border-block-start: 1px solid light-dark(#ccc, #ffffff44);
}

game-move {
  display: block;
  margin-block: 1em;
  padding: 0.5em 0.75em;
  border: 1px solid light-dark(#ccc, #ffffff44);
  border-radius: 8px;
}
